<div class="w-full h-full fixed bg-black/80 flex justify-center">
  <div class="flex flex-col w-[500px] h-min p-[20px] text-[40px] text-white bg-[#653b9c] rounded-lg mt-[50px]">
    <span class="text-orange-400 font-medium w-min mx-auto mb-[20px]">REGISTER</span>
    <div class="flex flex-col">
      <span>Username</span>
      <input [(ngModel)]="username" type="text" class='bg-transparent border-[2px] rounded-[50px] hover:border-orange-400 px-[25px]'/>
    </div>
    <div class="flex flex-col">
      <span>Password</span>
      <input [(ngModel)]="password" type="password" class='bg-transparent border-[2px] rounded-[50px] hover:border-orange-400 px-[25px]'/>
    </div>
    <div class="flex flex-col">
      <span>Confirm password</span>
      <input [(ngModel)]="confirmPassword" type="password" class='bg-transparent border-[2px] rounded-[50px] hover:border-orange-400 px-[25px]'/>
    </div>
    <button (click)="onRegister()" class='w-[200px] mx-auto mt-[20px] text-orange-400 h-auto border-[2px] border-orange-400 hover:text-white hover:bg-orange-400 rounded-lg'>Register</button>
    <span class="text-[25px]">Already have an account? Let's <span (click)="dialogService.setLoginVisibility(true)" class="text-orange-400 hover:text-gray-400 underline cursor-pointer">Login</span></span>
  </div>
</div>
